@font-face {
    font-family: handwriting;
    src: url(../fonts/handwriting/handwriting.eot);
    src: url(../fonts/handwriting/handwriting.svg);
    src: url(../fonts/handwriting/handwriting.ttf);
    src: url(../fonts/handwriting/handwriting.woff2);
    font-weight:400;
}

body {
    overflow-x: hidden;
    background-image: url(../img/);
    color: #4a4f53;
    background-size: contain;
    font-family: sans-serif;
    font: bold;
}

aside {
    position: fixed;
    top: 10px;
    right: -180px;
    z-index: 10;
}

aside {
    background-image: url(../img/blue-suede.jpg);
    border-radius: 5px;
    transition: 1.5s;
}

aside {

}

aside:hover {
    right: 10px;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: green;
}

ul {
    list-style: none;
    margin: 10px;
}

/* #home section */

#home > div {
    float: none;
    display: table-cell;
    vertical-align: bottom;
    vertical-align: bottom;
}

#home img {
    width: 400px;
    filter: invert(100%);
    vertical-align: baseline;
}

/* #contact section */

.contact_form {
	background-color: #257;
    background-size: contain;
    color: #ffe866;
	border: 1px solid;
	border-radius: 45px;
}

.contact_form form {
	padding: 5% 0;
}

#contact h1 {
	color: transparent;
	-webkit-text-stroke: 4px #f5f5f5;
	font-weight: 700;
}

.requiredStar::after{
	content: '*' 
}

/* about me section */

#about div {
    background-color:#257;
    color: #ffe866;
}

.col-sm-5 {
    color: #257;
}

.col-sm-5 > h2 {
    font-family: handwriting;
    transition-duration: 0.5s;
}

.col-sm-5 > h2:hover {
    
    color: #257c;
}