@font-face {
    font-family: handwriting;
    src: url(../fonts/handwriting/handwriting.eot);
    src: url(../fonts/handwriting/handwriting.svg);
    src: url(../fonts/handwriting/handwriting.ttf);
    src: url(../fonts/handwriting/handwriting.woff2);
    font-weight:400;
}

body {
    background-color: #eee;
    background-image: url(../img/graph-background.jpg);
    background-size: contain;
    font-family: sans-serif;
    font: bold;
}

aside {
    z-index: 10;
    position: fixed;
    top: 10px;
    right: 10px;
    background-image: url(../img/blue-suede.jpg);
    border-radius: 5px;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: green;
}

ul {
    list-style: none;
    margin: 10px;
}

#home img {
    width: 400px;
}

#home img {
    filter: invert(100);
}

/* contact section */

.contact_form {
	background-color: #cd5c5c;
    background-size: contain;
    color: #fff;
	border: 1px solid;
	border-radius: 45px;
    filter: invert(50)
}

.contact_form form {
	padding: 5% 0;
}

#contact h1 {
	color: transparent;
	-webkit-text-stroke: 4px #f5f5f5;
	font-weight: 700;
}

.requiredStar::after{
	content: '*' 
}

#playground {
    -webkit-user-modify: read-write;
}

/* about me section */

#about div:nth-child(2) > h2 {
    font-family: handwriting;
}